extends layout
 
block content
  div.container
    ul#messages(class="list-unstyled")
  form#user-input
    div.form-group
      input#msg(type="text",class="form-control",placeholder="Type something...", name="msg")
    div.form-group
    input#submit(name='submit', type='button', value='Send a Message', class='btn btn-primary')
