extends layout
 
block content
  div.container
    p#user-input
        input#msg(name='msg', size='50')
        input#submit(name='submit', type='submit', value='Send a Message')
      
      ul#messages
